<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>

<head>
  <link rel="stylesheet" href="./record.css">
  <link rel="stylesheet" href="../../assets/style.css">
  <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="../../../node_modules/bulma/css/bulma.css">
</head>

<body>
  <div class="tabs">
    <ul>
      <li class="is-active"><a>Record</a></li>
      <li class="tabs__create"><a>Create issue</a></li>
      <li class="tabs__settings"><a>Settings</a></li>
    </ul>
  </div>

  <div class="log container is-fluid">
    <div class="log__video-status">
    </div>
    <div class="log__events">
    </div>
    <u class="log__clear-button is-hidden">Clear all</u>
    <i class="log__record-icon fas fa-dot-circle fa-lg"></i>
  </div>
  <script type="module" src="./record.js"></script>
</body>

</html>