<!DOCTYPE html>
<meta charset="UTF-8">
<html>

<head>
    <link rel="stylesheet" href="./settings.css">
    <link rel="stylesheet" href="../../assets/style.css">
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
</head>

<body>
    <div class="layout">
        <i class="layout__back-icon fas fa-long-arrow-alt-left fa-lg"></i>

        <div class="form">
            <div class="form__alert error"></div>
            <div class="form__input">
                <label>Company's JIRA URL*</label>
                <input class="form__url-input" placeholder="https://your-domain.atlassian.net/" />
            </div>
            <div class="form__input--row">
                <input type="checkbox" class="form__video-check" />
                <label>Record video</label>
            </div>
            <div class="form__input--row">
                <input type="checkbox" class="form__unhandled-errors-check" />
                <label>Record unhandled errors</label>
            </div>
            <div class="form__input--row">
                <input type="checkbox" class="form__network-errors-check" />
                <label>Record network errors</label>
            </div>
            <div class="form__input--row">
                <input type="checkbox" class="form__console-errors-check" />
                <label>Record console errors</label>
            </div>
            <div class="form__input--row">
                <input type="checkbox" class="form__console-warnings-check" />
                <label>Record console warnings</label>
            </div>
        </div>
        <button class="form__button">Save</button>
    </div>
    <script type="module" src="settings.js"></script>
</body>

</html>