<!DOCTYPE html>
<meta charset="UTF-8">
<html>

<head>
    <link rel="stylesheet" href="./settings.css">
    <link rel="stylesheet" href="../../assets/style.css">
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
</head>

<body>
    <div id="panel">
        <i id="backIcon" class="fas fa-long-arrow-alt-left fa-lg"></i>
        <div id="form">
            <div id="formAlert" class="error"></div>
            <div class="form__input">
                <label>Company's JIRA URL*</label>
                <input id="urlInput" placeholder="https://your-domain.atlassian.net/" />
            </div>
            <div class="form__input--row">
                <input type="checkbox" id="videoCheck" />
                <label>Record video</label>
            </div>
            <div class="form__input--row">
                <input type="checkbox" id="unhandledErrorsCheck" />
                <label>Record unhandled errors</label>
            </div>
            <div class="form__input--row">
                <input type="checkbox" id="networkErrorsCheck" />
                <label>Record network errors</label>
            </div>
            <div class="form__input--row">
                <input type="checkbox" id="consoleErrorsCheck" />
                <label>Record console errors</label>
            </div>
            <div class="form__input--row">
                <input type="checkbox" id="consoleWarningsCheck" />
                <label>Record console warnings</label>
            </div>
        </div>
        <div id="buttons">
            <button id="saveButton">Save</button>
        </div>
    </div>
    <script type="module" src="settings.js"></script>
</body>

</html>