<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>

<head>
  <link rel="stylesheet" href="./create.css">
  <link rel="stylesheet" href="../../assets/style.css">
  <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="../../../node_modules/bulma/css/bulma.css">
</head>

<body>
  <div class="tabs">
    <ul>
      <li class="tabs__record"><a>Record</a></li>
      <li class="is-active"><a>Create issue</a></li>
      <li class="tabs__settings"><a>Settings</a></li>
    </ul>
  </div>

  <div class="form container is-fluid">
    <div class="field">
      <label class="label">Project*</label>
      <div class="control">
        <div class="select is-fullwidth">
          <select class="form__projects-selector">
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Issue type*</label>
      <div class="control">
        <div class="select is-fullwidth">
          <select class="form__type-selector">
            <option value="Bug">Bug</option>
            <option value="Task">Task</option>
            <option value="Story">Story</option>
            <option value="Epic">Epic</option>
          </select>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Summary*</label>
      <div class="control">
        <input class="input form__title-input" />
      </div>
    </div>
    <div class="field">
      <label class="label">Description</label>
      <div class="control">
        <textarea rows="5" class="textarea form__description-input"></textarea>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-primary is-rounded is-fullwidth form__button">Create issue</button>
      </div>
    </div>
  </div>

  <script type="module" src="./create.js"></script>
</body>

</html>