<!DOCTYPE html>
<meta charset="UTF-8">
<html>

<head>
  <link rel="stylesheet" href="./main.css">
  <link rel="stylesheet" href="../../assets/style.css">
  <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
</head>

<body>
  <div class="layout">
    <i class="layout__settings-icon fas fa-cog fa-lg"></i>

    <div class="form">
      <div class="form__input">
        <label>Project*</label>
        <select class="form__projects-selector">
        </select>
      </div>
      <div class="form__input">
        <label>Issue type*</label>
        <select class="form__type-selector">
          <option value="Bug">Bug</option>
          <option value="Task">Task</option>
          <option value="Story">Story</option>
          <option value="Epic">Epic</option>
        </select>
      </div>
      <div class="form__input">
        <label>Summary*</label>
        <input class="form__title-input" />
      </div>
      <div class="form__input">
        <label>Description</label>
        <textarea rows="5" class="form__description-input"></textarea>
      </div>
      <button class="form__button">Create issue</button>
    </div>

    <div class="log">
      <div class="log__video-status">
      </div>
      <div class="log__events">
      </div>
      <button class="log__record-button">Record tab events</button>
    </div>
  </div>
  <script type="module" src="./main.js"></script>
</body>

</html>