<!DOCTYPE html>
<meta charset="UTF-8">
<html>

<head>
    <link rel="stylesheet" href="./welcome.css">
    <link rel="stylesheet" href="../../assets/style.css">
</head>

<body>
    <div id="panel">
        <div id="form">
            <p class="text-center">Welcome to Quijis, please enter your company JIRA URL to continue</p>
            <div id="formAlert" class="error"></div>
            <div class="form__input">
                <input id="urlInput" placeholder="https://your-domain.atlassian.net/" />
            </div>
        </div>
        <div id="buttons">
            <button id="continueButton">Continue</button>
        </div>
    </div>
    <script type="module" src="welcome.js"></script>
</body>

</html>