<!DOCTYPE html>
<meta charset="UTF-8">
<html>

<head>
    <link rel="stylesheet" href="./welcome.css">
    <link rel="stylesheet" href="../../assets/style.css">
</head>

<body>
    <div class="layout">
        <div class="form">
            <p class="form__header">Welcome to Quijis, please enter your company JIRA URL to continue</p>
            <div class="form__alert error"></div>
            <div class="form__input">
                <input class="form__url-input" placeholder="https://your-domain.atlassian.net/" />
            </div>
        </div>
        <button class="form__button">Continue</button>
    </div>
    <script type="module" src="welcome.js"></script>
</body>

</html>