<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>

<head>
    <link rel="stylesheet" href="./welcome.css">
    <link rel="stylesheet" href="../../assets/style.css">
    <link rel="stylesheet" href="../../../node_modules/bulma/css/bulma.css">
</head>

<body>
    <div class="form container is-fluid">
        <p class="form__header">Welcome to Quijis, please enter your company JIRA URL to continue</p>
        <div class="form__alert error"></div>
        <div class="field">
            <div class="control">
                <input class="input form__url-input" placeholder="https://your-domain.atlassian.net/" />
            </div>
        </div>
        <button class="button is-primary is-fullwidth is-rounded form__button">Continue</button>
    </div>
    <script type="module" src="welcome.js"></script>
</body>

</html>