#panel {
    width: 250px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

#form {
    display: flex;
    flex-direction: column;
}

.form__input {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

#buttons {
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
}

.error {
    color: red;
}

.text-center {
    text-align: center;
}