.layout {
    width: 250px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__input {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form__input--row {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.error {
    color: red;
}